USE [DSED_GOLF]
SELECT [ID]
      ,[Surname]
      ,[Firstname]
      ,[Title]
      ,[Gender]
      ,[DOB]
      ,[Street]
      ,[Suburb]
      ,[City]
      ,[Available week days]
      ,[Handicap]
  FROM [dbo].[golf]